<div class="content-container">
  <div class="text-content">
    <h1>Enhance the Audio Description Experience with VisionVoice</h1>
    <p>
      VisionVoice is a powerful tool designed to enhance the audio description
      experience and assist with perception. Convert video to audio and text for
      accessibility purposes.
    </p>
  </div>
  <div class="image-content">
    <img
      src="../assets/pexels-mart-production-8327700.jpg"
      alt="Descriptive Text for Image"
      class="content-image"
    />
    <!-- Include your content image here -->
  </div>
</div>

<div class="offerings-section">
  <h2>✨ Our Offerings</h2>
  <p>
    Turn your video content into accessible and engaging experiences with our
    automated tools.
  </p>
  <div></div>

  <div class="superior">
    <div class="image-section">
      <img
        src="../assets/pexels-thirdman-7268588.jpg"
        alt="Person with a dog"
        class="content-image"
      />
    </div>

    <div class="offerings-icons">
      <div class="offering">
        <span class="icon">▶️</span>
        <span class="offering-text">Live video processing</span>
      </div>
      <div class="offering">
        <span class="icon">🔍</span>
        <span class="offering-text">Uncover every detail</span>
      </div>
      <div class="offering">
        <span class="icon">🌐</span>
        <span class="offering-text">Beyond the screen</span>
      </div>
    </div>
  </div>
</div>

<div class="team-section">
  <h2>Meet the Team</h2>
  <div class="team-members">
    <div class="team-member">
      <a href="https://www.linkedin.com/in/shimantobhowmik/" target="_blank">
        <img
          src="../assets/shimanto.jpg"
          alt="Shimanto Bhowmik"
          class="team-photo"
        />
        <p class="team-name">Shimanto Bhowmik</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://srikars.dev" target="_blank">
        <img
          src="../assets/srikar.jpg"
          alt="Srikar Sundaram"
          class="team-photo"
        />
        <p class="team-name">Srikar Sundaram</p>
      </a>
    </div>
    <div class="team-member">
      <a href="https://www.linkedin.com/in/showmikbhowmik/" target="_blank">
        <img
          src="../assets/showmik.jpg"
          alt="Showmik Bhowmik"
          class="team-photo"
        />
        <p class="team-name">Showmik Bhowmik</p>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
