<div class="live">
  <p class="label" *ngIf="permissionGranted">Live</p>
  <div class="permission">
    <video id="video"></video>
    <p class="label" *ngIf="!permissionGranted">
      We will need permission to stream your video
    </p>
    <button
      id="button"
      class="generate-btn"
      (click)="enableVideo()"
      *ngIf="!permissionGranted"
    >
      ✨ Start Stream
    </button>
  </div>
</div>

<button
  class="generate-btn m-auto"
  (click)="toggleDescribeVideo()"
  *ngIf="permissionGranted"
>
  {{ this.descriptionOn ? "Hide" : "Show" }} ✨ Video Description
</button>

<div class="sync">
  <!--
    FOr loop for this.syncs of app-sync
    description: string = sync.description
   -->
  <div *ngFor="let sync of syncs">
    <app-sync
      timestamp="{{ sync['time'] }}"
      description="{{ sync['text'] }}"
      audio="{{ sync['audio'] }}"
    >
    </app-sync>
  </div>
</div>
