<div class="file-upload-container">
  <div class="upload-box">
    <div class="upload-icon">+</div>
    <p>Drag and drop your video here</p>
    <!-- bind to file; video file -->
    <input
      type="file"
      class="choose-file-btn"
      accept="video/*"
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="options-container">
    <div class="options">
      <div class="switch-container">
        <label class="switch">
          <input
            type="checkbox"
            id="textualDescription"
            (change)="toggleTextualDescription($event)"
          />
          <span class="slider round"></span>
        </label>
        <span>Textual Description</span>
      </div>
      <div class="switch-container">
        <label class="switch">
          <input
            type="checkbox"
            id="audioDescription"
            (change)="toggleAudioDescription($event)"
          />
          <span class="slider round"></span>
        </label>
        <span>Audio Description</span>
      </div>
      <div class="switch-container">
        <label class="switch">
          <input
            type="checkbox"
            id="summarization"
            (change)="toggleSummarization($event)"
          />
          <span class="slider round"></span>
        </label>
        <span>Summarization</span>
      </div>
    </div>

    <button (click)="generateVideoDescription()" class="generate-btn">
      Generate ✨
    </button>
  </div>
</div>

<div class="sync">
  <!--
    FOr loop for this.syncs of app-sync
    description: string = sync.description
   -->
  <div *ngFor="let sync of syncs">
    <app-sync
      timestamp="{{ sync['text']['time'] }}"
      description="{{ sync['text']['text'] }}"
      audio="{{ sync['audio']['audio'] }}"
    >
    </app-sync>
  </div>
</div>

<div class="video-recap-container" *ngIf="recap.length">
  <div class="recap-header">
    <span class="recap-icon">⭐</span>
    <h2>Quick Cuts: Video Recap</h2>
  </div>
  <p *ngFor="let text of recap">{{ text }}</p>
</div>
